In [39]:
import torch 
import pandas as pd 
import torch.nn as nn 
from torch.utils.data import random_split, DataLoader, TensorDataset 
import torch.nn.functional as F 
import numpy as np 
import torch.optim as optim 
from torch.optim import Adam

In [40]:
# Loading the Data
df = pd.read_csv('dataset.csv') 
df.head()

,Initial packet size,Initial TTL,Window size,DF flag,port,Max Segment Size,Window Scalling Value,sackOK,Target
0,66,128,32,1,49201,1460,8,1,windows
1,66,128,32,1,49202,1460,8,1,windows
2,66,54,15525,1,49202,1410,8,1,windows
3,54,128,2,1,49202,0,0,0,windows
4,66,55,15525,1,49201,1410,8,1,windows

In [41]:
del df['port']
df

,Initial packet size,Initial TTL,Window size,DF flag,Max Segment Size,Window Scalling Value,sackOK,Target
0,66,128,32,1,1460,8,1,windows
1,66,128,32,1,1460,8,1,windows
2,66,54,15525,1,1410,8,1,windows
3,54,128,2,1,0,0,0,windows
4,66,55,15525,1,1410,8,1,windows
...,...,...,...,...,...,...,...,...
4856,180,64,65535,1,0,0,0,android
4857,590,64,65535,1,0,0,0,android
4858,384,64,65535,1,0,0,0,android
4859,312,16,65535,1,0,0,0,android
4860,371,16,65535,1,0,0,0,android

In [42]:
df.iloc[:,-1].value_counts()

windows    3978
android     883
Name: Target, dtype: int64

In [43]:
# Convert Iris species into numeric types: windows=0, android=1  
labels = {'windows':0, 'android':1} 
df['Target_num'] = df['Target']   # Create a new column "Target_num" 
df.Target_num = [labels[item] for item in df.Target_num]  # Convert the values to numeric ones 
df

,Initial packet size,Initial TTL,Window size,DF flag,Max Segment Size,Window Scalling Value,sackOK,Target,Target_num
0,66,128,32,1,1460,8,1,windows,0
1,66,128,32,1,1460,8,1,windows,0
2,66,54,15525,1,1410,8,1,windows,0
3,54,128,2,1,0,0,0,windows,0
4,66,55,15525,1,1410,8,1,windows,0
...,...,...,...,...,...,...,...,...,...
4856,180,64,65535,1,0,0,0,android,1
4857,590,64,65535,1,0,0,0,android,1
4858,384,64,65535,1,0,0,0,android,1
4859,312,16,65535,1,0,0,0,android,1
4860,371,16,65535,1,0,0,0,android,1

In [44]:
# Define input and output datasets 
input = df.iloc[:,:-2]            # inputs. 
print('\nInput values are:') 
print(input.head())   
output = df.loc[:, 'Target_num']   # targets
print('\nThe output value is:') 
print(output.head())

Input values are:
   Initial packet size  Initial TTL  Window size  DF flag  Max Segment Size  \
0                   66          128           32        1              1460
1                   66          128           32        1              1460
2                   66           54        15525        1              1410
3                   54          128            2        1                 0
4                   66           55        15525        1              1410

   Window Scalling Value  sackOK
0                      8       1
1                      8       1
2                      8       1
3                      0       0
4                      8       1

The output value is:
0    0
1    0
2    0
3    0
4    0
Name: Target_num, dtype: int64

In [45]:
# Convert Input and Output data to Tensors and create a TensorDataset 
input = torch.Tensor(input.to_numpy())      # Create tensor of type torch.float32 
print('\nInput format: ', input.shape, input.dtype)     # Input format: torch.Size([5684, 7]) torch.float32 
output = torch.tensor(output.to_numpy())        # Create tensor type torch.int64  
print('Output format: ', output.shape, output.dtype)  # Output format: torch.Size([5684]) torch.int64 
data = TensorDataset(input, output)    # Create a torch.utils.data.TensorDataset object for further data manipulation

Input format:  torch.Size([4861, 7]) torch.float32
Output format:  torch.Size([4861]) torch.int64

In [46]:
# Split to Train, Validate and Test sets using random_split 
train_batch_size = 128        
number_rows = len(input)    # The size of our dataset or the number of rows in csv table.  
test_split = int(number_rows*0.1)  
validate_split = int(number_rows*0.1) 
train_split = number_rows - test_split - validate_split     
train_set, validate_set, test_set = random_split( 
    data, [train_split, validate_split, test_split])    
 
# Create Dataloader to read the data within batch sizes and put into memory. 
train_loader = DataLoader(train_set, batch_size = train_batch_size, shuffle = True) 
validate_loader = DataLoader(validate_set, batch_size = 1) 
test_loader = DataLoader(test_set, batch_size = 1)

In [47]:
# Define model parameters 
input_size = list(input.shape)[1]   # = 7. The input depends on how many features we initially feed the model. In our case, there are 2 features for every predict value  
learning_rate = 0.001 
output_size = len(labels)           # The output is prediction results


# Define neural network 
class Network(nn.Module): 
   def __init__(self, input_size, output_size): 
       super(Network, self).__init__() 
        
       self.layer1 = nn.Linear(input_size, 24) 
       self.layer2 = nn.Linear(24, 24) 
       self.layer3 = nn.Linear(24, output_size) 

   def forward(self, x): 
       x1 = F.relu(self.layer1(x)) 
       x2 = F.relu(self.layer2(x1)) 
       x3 = self.layer3(x2)
       return x3 
 
# Instantiate the model 
model = Network(input_size, output_size)

In [48]:
# Function to save the model 
def saveModel(): 
    path = "./NetModel.pth" 
    torch.save(model.state_dict(), path)

In [49]:
# Define the loss function with Classification Cross-Entropy loss and an optimizer with Adam optimizer
loss_fn = nn.CrossEntropyLoss()
optimizer = Adam(model.parameters(), lr=0.001, weight_decay=0.0001)

In [50]:
# Training Function 
def train(num_epochs): 
    best_accuracy = 0.0 
     
    print("Begin training...") 
    for epoch in range(1, num_epochs+1): 
        running_train_loss = 0.0 
        running_accuracy = 0.0 
        running_vall_loss = 0.0 
        total = 0 
 
        # Training Loop 
        for data in train_loader: 
        #for data in enumerate(train_loader, 0): 
            inputs, outputs = data  # get the input and real species as outputs; data is a list of [inputs, outputs] 
            optimizer.zero_grad()   # zero the parameter gradients          
            predicted_outputs = model(inputs)   # predict output from the model 
            train_loss = loss_fn(predicted_outputs, outputs)   # calculate loss for the predicted output  
            train_loss.backward()   # backpropagate the loss 
            optimizer.step()        # adjust parameters based on the calculated gradients 
            running_train_loss +=train_loss.item()  # track the loss value 
 
        # Calculate training loss value 
        train_loss_value = running_train_loss/len(train_loader) 
 
        # Validation Loop 
        with torch.no_grad(): 
            model.eval() 
            for data in validate_loader: 
               inputs, outputs = data 
               predicted_outputs = model(inputs) 
               val_loss = loss_fn(predicted_outputs, outputs) 
             
               # The label with the highest value will be our prediction 
               _, predicted = torch.max(predicted_outputs, 1) 
               running_vall_loss += val_loss.item()  
               total += outputs.size(0) 
               running_accuracy += (predicted == outputs).sum().item() 
 
        # Calculate validation loss value 
        val_loss_value = running_vall_loss/len(validate_loader) 
                
        # Calculate accuracy as the number of correct predictions in the validation batch divided by the total number of predictions done.  
        accuracy = (100 * running_accuracy / total)     
 
        # Save the model if the accuracy is the best 
        if accuracy > best_accuracy: 
            saveModel() 
            best_accuracy = accuracy 
         
        # Print the statistics of the epoch 
        print('Completed training batch', epoch, 'Training Loss is: %.4f' %train_loss_value, 'Validation Loss is: %.4f' %val_loss_value, 'Accuracy is %d %%' % (accuracy))

In [51]:
# Function to test the model 
def test(): 
    # Load the model that we saved at the end of the training loop 
    model = Network(input_size, output_size) 
    path = "NetModel.pth" 
    model.load_state_dict(torch.load(path)) 
     
    running_accuracy = 0 
    total = 0 
 
    with torch.no_grad(): 
        for data in test_loader: 
            inputs, outputs = data 
            outputs = outputs.to(torch.float32) 
            predicted_outputs = model(inputs) 
            _, predicted = torch.max(predicted_outputs, 1) 
            total += outputs.size(0) 
            running_accuracy += (predicted == outputs).sum().item() 
 
        print('Accuracy of the model based on the test set of', test_split ,'inputs is: %d %%' % (100 * running_accuracy / total))    
 
 
# Optional: Function to test which species were easier to predict  
def test_species(): 
    # Load the model that we saved at the end of the training loop 
    model = Network(input_size, output_size) 
    path = "NetModel.pth" 
    model.load_state_dict(torch.load(path)) 
     
    labels_length = len(labels) # how many classes we have. = 3 in our database. 
    labels_correct = list(0. for i in range(labels_length)) # list to calculate correct labels  
    labels_total = list(0. for i in range(labels_length))   # list to keep the total num of labels per type 
  
    with torch.no_grad(): 
        for data in test_loader: 
            inputs, outputs = data 
            predicted_outputs = model(inputs) 
            _, predicted = torch.max(predicted_outputs, 1) 
             
            label_correct_running = (predicted == outputs).squeeze() 
            label = outputs[0] 
            if label_correct_running.item():  
                labels_correct[label] += 1 
            labels_total[label] += 1  
  
    label_list = list(labels.keys()) 
    for i in range(output_size): 
        print('Accuracy to predict %5s : %2d %%' % (label_list[i], 100 * labels_correct[i] / labels_total[i]))

In [52]:
if __name__ == "__main__": 
    num_epochs = 50
    train(num_epochs) 
    print('Finished Training\n') 
    test() 
    test_species()

Begin training...
Completed training batch 1 Training Loss is: 43.2055 Validation Loss is: 14.1142 Accuracy is 33 %
Completed training batch 2 Training Loss is: 6.6382 Validation Loss is: 10.1986 Accuracy is 79 %
Completed training batch 3 Training Loss is: 17.6113 Validation Loss is: 30.4066 Accuracy is 79 %
Completed training batch 4 Training Loss is: 18.5211 Validation Loss is: 30.5431 Accuracy is 79 %
Completed training batch 5 Training Loss is: 13.4846 Validation Loss is: 12.8586 Accuracy is 36 %
Completed training batch 6 Training Loss is: 11.0713 Validation Loss is: 4.2560 Accuracy is 47 %
Completed training batch 7 Training Loss is: 12.5369 Validation Loss is: 17.7198 Accuracy is 79 %
Completed training batch 8 Training Loss is: 12.1830 Validation Loss is: 8.3947 Accuracy is 41 %
Completed training batch 9 Training Loss is: 9.9076 Validation Loss is: 8.2076 Accuracy is 78 %
Completed training batch 10 Training Loss is: 8.5026 Validation Loss is: 7.3332 Accuracy is 79 %
Completed training batch 11 Training Loss is: 14.9252 Validation Loss is: 30.0386 Accuracy is 37 %
Completed training batch 12 Training Loss is: 9.6052 Validation Loss is: 1.4132 Accuracy is 82 %
Completed training batch 13 Training Loss is: 6.4628 Validation Loss is: 11.3082 Accuracy is 80 %
Completed training batch 14 Training Loss is: 5.0210 Validation Loss is: 7.2016 Accuracy is 81 %
Completed training batch 15 Training Loss is: 5.3519 Validation Loss is: 1.4006 Accuracy is 74 %
Completed training batch 16 Training Loss is: 5.0970 Validation Loss is: 7.9541 Accuracy is 80 %
Completed training batch 17 Training Loss is: 7.8565 Validation Loss is: 4.4138 Accuracy is 81 %
Completed training batch 18 Training Loss is: 10.4985 Validation Loss is: 20.6952 Accuracy is 80 %
Completed training batch 19 Training Loss is: 6.2828 Validation Loss is: 5.0999 Accuracy is 81 %
Completed training batch 20 Training Loss is: 1.9748 Validation Loss is: 0.6663 Accuracy is 87 %
Completed training batch 21 Training Loss is: 2.7757 Validation Loss is: 0.5926 Accuracy is 89 %
Completed training batch 22 Training Loss is: 10.8523 Validation Loss is: 23.1004 Accuracy is 39 %
Completed training batch 23 Training Loss is: 9.1023 Validation Loss is: 6.4478 Accuracy is 81 %
Completed training batch 24 Training Loss is: 3.1042 Validation Loss is: 0.6398 Accuracy is 88 %
Completed training batch 25 Training Loss is: 2.1887 Validation Loss is: 2.2435 Accuracy is 66 %
Completed training batch 26 Training Loss is: 1.5787 Validation Loss is: 0.4182 Accuracy is 90 %
Completed training batch 27 Training Loss is: 3.1950 Validation Loss is: 16.7583 Accuracy is 45 %
Completed training batch 28 Training Loss is: 8.0600 Validation Loss is: 2.2245 Accuracy is 82 %
Completed training batch 29 Training Loss is: 2.4283 Validation Loss is: 5.7028 Accuracy is 80 %
Completed training batch 30 Training Loss is: 2.7671 Validation Loss is: 6.9470 Accuracy is 80 %
Completed training batch 31 Training Loss is: 7.8015 Validation Loss is: 6.9542 Accuracy is 81 %
Completed training batch 32 Training Loss is: 2.0656 Validation Loss is: 0.2721 Accuracy is 94 %
Completed training batch 33 Training Loss is: 0.5035 Validation Loss is: 0.6715 Accuracy is 90 %
Completed training batch 34 Training Loss is: 1.2179 Validation Loss is: 4.9184 Accuracy is 80 %
Completed training batch 35 Training Loss is: 2.8135 Validation Loss is: 2.5039 Accuracy is 66 %
Completed training batch 36 Training Loss is: 2.9415 Validation Loss is: 19.8189 Accuracy is 80 %
Completed training batch 37 Training Loss is: 2.1376 Validation Loss is: 0.3723 Accuracy is 91 %
Completed training batch 38 Training Loss is: 8.0297 Validation Loss is: 5.9291 Accuracy is 59 %
Completed training batch 39 Training Loss is: 9.6662 Validation Loss is: 1.0518 Accuracy is 86 %
Completed training batch 40 Training Loss is: 2.6817 Validation Loss is: 0.2894 Accuracy is 89 %
Completed training batch 41 Training Loss is: 1.0755 Validation Loss is: 1.2991 Accuracy is 79 %
Completed training batch 42 Training Loss is: 0.6818 Validation Loss is: 3.1245 Accuracy is 80 %
Completed training batch 43 Training Loss is: 4.3013 Validation Loss is: 0.5445 Accuracy is 90 %
Completed training batch 44 Training Loss is: 1.6818 Validation Loss is: 2.4229 Accuracy is 81 %
Completed training batch 45 Training Loss is: 2.8421 Validation Loss is: 3.8301 Accuracy is 81 %
Completed training batch 46 Training Loss is: 1.2259 Validation Loss is: 1.5002 Accuracy is 87 %
Completed training batch 47 Training Loss is: 1.5165 Validation Loss is: 0.7268 Accuracy is 87 %
Completed training batch 48 Training Loss is: 0.8842 Validation Loss is: 0.1586 Accuracy is 91 %
Completed training batch 49 Training Loss is: 2.6612 Validation Loss is: 0.1676 Accuracy is 96 %
Completed training batch 50 Training Loss is: 0.7654 Validation Loss is: 1.0838 Accuracy is 86 %
Finished Training

Accuracy of the model based on the test set of 486 inputs is: 97 %
Accuracy to predict windows : 97 %
Accuracy to predict android : 98 %